.text-color-a,
.text-color-a:hover {
    color: #166916 !important;
}

.text-color-b,
.text-color-a:hover {
    color: #ecbd39 !important;
}

.text-color-c,
.text-color-a:hover {
    color: #eb4afa !important;
}